*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/mondayTimes.jpg
/composeApp/otherTimes.jpg
/composeApp/src/androidMain/res/values/non_public_strings.xml
/composeApp/src/androidMain/google-services.json
/composeApp/google-services.json
/composeApp/database.db
/composeApp/database.db.lck
/composeApp/database.db-journal
/.fleet/receipt.json
